:host {
  flex: 1 0 auto;
}

.typeahead {
  height: 100%;
  flex: 1 0 auto;
  position: relative;
  margin: 0 auto;
  width: 70%;

  .typeahead--form {
    .typeahead--input__full-width {
      width: 100%;
    }
  }
}
