<section class="typeahead">
  <form [formGroup]="githubForm" class="typeahead--form">
    <div data-widget="accessible-autocomplete">
      <mat-form-field class="typeahead--input__full-width">
        <input
          formControlName="username"
          type="text"
          matInput
          [matAutocomplete]="auto"
          placeholder="Write a github username"
          class="typeahead--input"
        />
      </mat-form-field>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let repo of (repos$ | async)"
          class="typeahead--option"
          (click)="getContributors(repo.name)"
        >
        <i class="material-icons">ballot</i>&nbsp;{{ repo.name }}
        </mat-option>
        <mat-option class="typeahead--option" *ngIf="hasNoRepos && !hasError">
          <span>Sorry, this user has no repos.</span>
        </mat-option>
        <mat-option class="typeahead--option" *ngIf="hasError && !hasNoRepos">
          <span>Sorry, it looks like this user doesn't exist</span>
        </mat-option>
      </mat-autocomplete>
    </div>
  </form>
</section>
